.single-product {
  margin-top: 70px;
}

.new-order {
  background: green;
  width: 50px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin-top: 20px;
}

.col-md-7 h2 {
  color: #555;
}

.single-product .fa {
  color: orange;
}

.single-product .price {
  color: orange;
  font-size: 26px;
  font-weight: bold;
  padding-top: 20px;
}

.single-product input {
  border: 1px solid #ccc;
  font-weight: bold;
  height: 33px;
  text-align: center;
  width: 50px;
}

.single-product .btn-primary {
  background: rgb(7, 104, 54);
  color: #fff;
  font-size: 15px;
  margin-left: 20px;
  border: none;
  box-shadow: none important;
}

/* -------Product Description--------- */
.product-description h6 {
  margin-top: 50px;
  color: rgb(41, 94, 67);
}

.product-description p {
  margin-top: 30px;
}

.product-description hr {
  margin-bottom: 50px;
}

.title-box {
  background: rgb(7, 104, 54);
  color: #fff;
  font-size: 15px;
  border: none;
  width: fit-content;
}
